/*
 * ---------------------------------------------------------------------------
 *  Default parameters for the eQTL Catalogue genimpute workflow.
 * ---------------------------------------------------------------------------
 */

params {

  // Genotype QC parameters (GRCh37)
  grch37_ref_genome = "/gpfs/hpc/projects/genomic_references/annotations/GRCh37/Homo_sapiens.GRCh37.dna.primary_assembly.fa"
  grch37_ref_panel = "/gpfs/hpc/projects/genomic_references/1000G/GRCh37/1000G_GRCh37_variant_information"

  // Genotype QC parameters (GRCh38)
  grch38_ref_genome = "/gpfs/hpc/projects/genomic_references/annotations/GRCh38/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
  grch38_ref_panel = "/gpfs/hpc/projects/genomic_references/1000G/30x-GRCh38/30x-GRCh38_variant_information"

  // Impututation parameters
  eagle_genetic_map = '/gpfs/hpc/projects/genomic_references/imputation/Eagle_genetic_maps/genetic_map_hg38_withX.txt.gz'
  eagle_phasing_reference = '/gpfs/hpc/projects/genomic_references/imputation/Eagle_1KG_30x-GRCh38_phasing_reference/'

  // Beagle 5.2 parameters
  beagle_genetic_map = '/gpfs/hpc/projects/genomic_references/imputation/Beagle_genetic_maps/GRCh38/'
  beagle_imputation_reference = '/gpfs/hpc/projects/genomic_references/imputation/Beagle_1KG_30x-GRCh38_imputation_reference/'

  // Minimac4 parameters
  minimac_imputation_reference = '/gpfs/hpc/projects/genomic_references/imputation/Minimac4_1KG_Phase3_v5_GRCh37_imputation_reference/'

  // CrossMap.py parameters
  chain_file = "data/GRCh37_to_GRCh38.chain"
  r2_thresh = 0.4
}
